@*
    Vista creada para eliminar un cliente registrado en el sistema
*@
@model SICOVWEB_MCA.Models.Cliente
@{
    ViewData["Title"] = "Eliminar Cliente";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<section class="contenedor-principal">
    <div class="header-seccion">
        <h2>Eliminar Cliente</h2>
        <a asp-controller="Clientes" asp-action="Buscar" class="btn-primario"><i class="bi bi-arrow-left"></i> Regresar</a>
    </div>
<hr/>
    
    <form asp-controller="Clientes" asp-action="Eliminar" method="post">
        <input type="hidden" asp-for="Id_cliente" />
        <div class="form-grid">
            <div>
                <label asp-for="Razon_Social"></label>
                <input type="text" asp-for="Razon_Social" class="campo-formulario" disabled/>                
            </div>
            <div>
                <label asp-for="Rfc"></label>
                <input type="text" asp-for="Rfc" class="campo-formulario" disabled />
            </div>
            <div>
                <label asp-for="Correo"></label>
                <input type="text" asp-for="Correo" class="campo-formulario" disabled />
            </div>
            <div>
                <label asp-for="Telefono"></label>
                <input type="text" asp-for="Telefono" class="campo-formulario" disabled />
            </div>
            <div>
                <label asp-for="Calle"></label>
                <input type="text" asp-for="Calle" class="campo-formulario" disabled />
            </div>
            <div>
                <label asp-for="Numero"></label>
                <input type="text" asp-for="Numero" class="campo-formulario" disabled />
            </div>
            <div>
                <label asp-for="Colonia"></label>
                <input type="text" asp-for="Colonia" class="campo-formulario" disabled />
            </div>
            <div>
                <label asp-for="Localidad"></label>
                <input type="text" asp-for="Localidad" class="campo-formulario" disabled />
            </div>
            <div>
                <label asp-for="Estado"></label>
                <input type="text" asp-for="Estado" class="campo-formulario" disabled />
            </div>
            <div>
                <label asp-for="Pais"></label>
                <input type="text" asp-for="Pais" class="campo-formulario" disabled />
            </div>
            <div>
                <label asp-for="CP"></label>
                <input type="text" asp-for="CP" class="campo-formulario" disabled />
            </div>
            <div>
                <label asp-for="Condicion_Pago"></label>
                <input type="text" asp-for="Condicion_Pago" class="campo-formulario" disabled />
            </div>
            <div>
                <label asp-for="Estatus"></label>
                <input type="text" asp-for="Estatus" class="campo-formulario" disabled />
            </div>
            <div>
                <label asp-for="Tipo"></label>
                <input type="text" asp-for="Tipo" class="campo-formulario" disabled />
            </div>
            <div>
                <label asp-for="Fecha_Alta"></label>
                <input asp-for="Fecha_Alta" type="date" class="campo-formulario" disabled />
            </div>
            <div>
                <label asp-for="Fecha_Baja"></label>
                <input asp-for="Fecha_Baja" type="date" class="campo-formulario" disabled />
            </div>
        </div>
      
        <!-- Botonera -->
        <div class="acciones-formulario">
            <!-- Boton guardar  -->
            <button type="submit" class="btn-primario"><i class="bi bi-trash"></i> Eliminar</button>
        </div>
    </form>
</section>